@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Imbue", serif;
}

::-webkit-scrollbar{
  display: none;
}